<!DOCTYPE html>
<html>
<head>
    <title>Slime Volleyball</title>
</head>
<body>
<canvas id="game" width="800" height="400"></canvas>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script>
const socket = io();
const canvas = document.getElementById("game");
const ctx = canvas.getContext("2d");

const keys = {};

document.addEventListener("keydown", e => { keys[e.key] = true; });
document.addEventListener("keyup", e => { keys[e.key] = false; });

function getCurrentAction() {
    if (keys["w"]) return 3;
    if (keys["d"]) return 2;
    if (keys["a"]) return 1;
    return 0;
}

function draw(state) {
    ctx.clearRect(0, 0, 800, 400);

    // background
    ctx.fillStyle = "#F5F8FE";
    ctx.fillRect(0, 0, 800, 400);

    // ground
    ctx.fillStyle = "#7CE396";
    ctx.fillRect(0, 320, 800, 80);

    // net
    ctx.fillStyle = "#F1D37C";
    ctx.fillRect(395, 280, 10, 40);

    // left slime
    ctx.beginPath();
    ctx.arc(state.left.x, state.left.y, 30, Math.PI, 2*Math.PI);
    ctx.fillStyle = "red";
    ctx.fill();

    // right slime
    ctx.beginPath();
    ctx.arc(state.right.x, state.right.y, 30, Math.PI, 2*Math.PI);
    ctx.fillStyle = "blue";
    ctx.fill();

    // ball
    ctx.beginPath();
    ctx.arc(state.ball.x, state.ball.y, 15, 0, 2*Math.PI);
    ctx.fillStyle = "orange";
    ctx.fill();

    // score
    ctx.fillStyle = "black";
    ctx.font = "24px Arial";
    ctx.fillText(state.score[0], 200, 75);
    ctx.fillText(state.score[1], 600, 75);
}


let lastTime = 0;
const maxAllowedTime = 1000 * 1;
const fps = 20;
const frameDuration = 1000 / fps;

// Send input every frame
function gameLoop(currentTime) {
    if (currentTime - lastTime >= frameDuration) {
        if (currentTime - lastTime > maxAllowedTime){
            lastTime = currentTime;
        }
        socket.emit("input", { action: keys });
        lastTime += frameDuration;
        console.log(keys)
    }
    requestAnimationFrame(gameLoop);
}

socket.on("state", state => {
    draw(state);
});

gameLoop();
</script>
</body>
</html>
