<!DOCTYPE html>
<html>
<head>
    <title>Slime Volleyball</title>
</head>
<body>

<canvas id="game" width="900" height="600"></canvas>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script type="module">
import { draw } from "./static/soccer/draw.js";

const socket = io();
const canvas = document.getElementById("game");
const ctx = canvas.getContext("2d");

const keys = {};

document.addEventListener("keydown", e => { keys[e.key] = true; });
document.addEventListener("keyup", e => { keys[e.key] = false; });



let lastTime = 0;
const maxAllowedTime = 1000 * 1;
const fps = 20;
const frameDuration = 1000 / fps;

// Send input every frame
function gameLoop(currentTime) {
    if (currentTime - lastTime >= frameDuration) {
        if (currentTime - lastTime > maxAllowedTime){
            lastTime = currentTime;
        }
        socket.emit("input", { action: keys });
        lastTime += frameDuration;
        console.log(keys)
    }
    requestAnimationFrame(gameLoop);
}

socket.on("state", state => {
    draw(ctx, state);
});

gameLoop();
</script>
</body>
</html>
